#container
    #logo
        a(href='/')
            img(src='/images/logo.png')
    #display
        #login        
            form(method='post')
                | Welcome pet parent. Please log in
                div
                    input(type='text', name='username')
                    input(type='submit', value='Log In')
        
    include footer